@import "colors.css";

* {
  min-height: 0;
  font-family: "Inter", "Symbols Nerd Font";
  font-size: 13px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @surface-alpha-primary;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background: @surface-alpha-secondary;
  margin: 5px 5px;
  padding: 0px;
  border-radius: 15px;
  border: 0px;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: @on_surface;
}

#workspaces :hover {
  background: @surface-alpha-secondary;
}

#workspaces button {
  padding: 2px 2px;
  margin: 3px 3px;
  border-radius: 10px;
  border: 0px;
  color: @on_surface;
  background-color: @surface-alpha-secondary;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: #000;
  background: @on_surface;
  border-radius: 15px;
  min-width: 48px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button.urgent {
  background-color: @primary;
}

#custom-notification,
#custom-bluetooth,
#custom-weather,
#custom-updates,
#clock,
#pulseaudio,
#tray,
#mpris {
  padding: 0px 8px;
  margin: 6px 3px;
  color: @on_surface;
  border-radius: 10px;
  background-color: @surface-alpha-secondary;
}

#tray {
  font-size: 10px;
}

#clock {
  color: @on_surface;
}

tooltip {
  border-radius: 8px;
  background-color: @surface-alpha-secondary;
}

#network,
#bluetooth {
    padding: 0px 8px;
    margin: 6px 0px;
    color: @on_surface;
    background-color: @surface-alpha-secondary;
    border-radius: 0px;
}

#network {
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    margin-left: 3px;
    padding-right: 6px;
}

#bluetooth {
    border-radius: 0px 10px 10px 0px;
    padding-right: 10px;
    margin-right: 3px;
    padding-left: 6px;
}
